--
-- PostgreSQL database dump
--

-- Dumped from database version 16.1
-- Dumped by pg_dump version 16.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ActivityStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ActivityStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'COMPLETED',
    'CANCELLED',
    'PENDING',
    'OVERDUE'
);


ALTER TYPE public."ActivityStatus" OWNER TO postgres;

--
-- Name: ActivityType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ActivityType" AS ENUM (
    'ASSIGNMENT',
    'QUIZ',
    'LECTURE',
    'LAB',
    'PROJECT',
    'EXAM',
    'WORKSHOP',
    'SEMINAR',
    'TUTORIAL',
    'FIELDWORK'
);


ALTER TYPE public."ActivityType" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'STUDENT',
    'ADMIN',
    'SUPER_ADMIN'
);


ALTER TYPE public."Role" OWNER TO postgres;

--
-- Name: TicketStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TicketStatus" AS ENUM (
    'WAITING',
    'CALLED',
    'IN_PROGRESS',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."TicketStatus" OWNER TO postgres;

--
-- Name: trigger_set_timestamp(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.trigger_set_timestamp() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.trigger_set_timestamp() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: activities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activities (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    type public."ActivityType" NOT NULL,
    status public."ActivityStatus" DEFAULT 'ACTIVE'::public."ActivityStatus" NOT NULL,
    "startDate" timestamp(3) without time zone,
    "endDate" timestamp(3) without time zone,
    "userId" text,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.activities OWNER TO postgres;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activity_logs (
    id text NOT NULL,
    "userId" text,
    "ticketId" text,
    "serviceId" text,
    action character varying(255) NOT NULL,
    details text,
    "ipAddress" character varying(45),
    "userAgent" text,
    "timestamp" timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.activity_logs OWNER TO postgres;

--
-- Name: queue_statistics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.queue_statistics (
    id integer NOT NULL,
    "serviceId" text NOT NULL,
    "currentQueueLength" integer DEFAULT 0,
    "estimatedWaitTime" integer DEFAULT 0,
    "averageServiceTime" double precision DEFAULT 0,
    "isActive" boolean DEFAULT true,
    "lastUpdated" timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    "dailyTicketCount" integer DEFAULT 0,
    "weeklyTicketCount" integer DEFAULT 0,
    "monthlyTicketCount" integer DEFAULT 0,
    "createdAt" timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.queue_statistics OWNER TO postgres;

--
-- Name: queue_statistics_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.queue_statistics_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.queue_statistics_id_seq OWNER TO postgres;

--
-- Name: queue_statistics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.queue_statistics_id_seq OWNED BY public.queue_statistics.id;


--
-- Name: queue_tickets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.queue_tickets (
    id text NOT NULL,
    "position" integer NOT NULL,
    status public."TicketStatus" DEFAULT 'WAITING'::public."TicketStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "calledAt" timestamp(3) without time zone,
    "completedAt" timestamp(3) without time zone,
    "userId" text NOT NULL,
    "serviceId" text NOT NULL,
    isnew boolean DEFAULT true NOT NULL
);


ALTER TABLE public.queue_tickets OWNER TO postgres;

--
-- Name: services; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.services (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "estimatedTime" integer
);


ALTER TABLE public.services OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text,
    password text NOT NULL,
    name text NOT NULL,
    course text,
    year integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "studentCode" text,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "adminCode" text,
    "isActive" boolean DEFAULT true,
    role public."Role" DEFAULT 'STUDENT'::public."Role" NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: queue_statistics id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.queue_statistics ALTER COLUMN id SET DEFAULT nextval('public.queue_statistics_id_seq'::regclass);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: activities activities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_pkey PRIMARY KEY (id);


--
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (id);


--
-- Name: queue_statistics queue_statistics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.queue_statistics
    ADD CONSTRAINT queue_statistics_pkey PRIMARY KEY (id);


--
-- Name: queue_tickets queue_tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.queue_tickets
    ADD CONSTRAINT queue_tickets_pkey PRIMARY KEY (id);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_activities_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activities_created_at ON public.activities USING btree ("createdAt");


--
-- Name: idx_activities_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activities_status ON public.activities USING btree (status);


--
-- Name: idx_activities_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activities_type ON public.activities USING btree (type);


--
-- Name: idx_activities_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activities_user_id ON public.activities USING btree ("userId");


--
-- Name: idx_activity_logs_service_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activity_logs_service_id ON public.activity_logs USING btree ("serviceId");


--
-- Name: idx_activity_logs_ticket_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activity_logs_ticket_id ON public.activity_logs USING btree ("ticketId");


--
-- Name: idx_activity_logs_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activity_logs_timestamp ON public.activity_logs USING btree ("timestamp");


--
-- Name: idx_activity_logs_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_activity_logs_user_id ON public.activity_logs USING btree ("userId");


--
-- Name: idx_queue_statistics_service_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_queue_statistics_service_id ON public.queue_statistics USING btree ("serviceId");


--
-- Name: idx_queue_tickets_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_queue_tickets_created_at ON public.queue_tickets USING btree ("createdAt");


--
-- Name: idx_queue_tickets_service_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_queue_tickets_service_id ON public.queue_tickets USING btree ("serviceId");


--
-- Name: idx_queue_tickets_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_queue_tickets_status ON public.queue_tickets USING btree (status);


--
-- Name: idx_queue_tickets_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_queue_tickets_user_id ON public.queue_tickets USING btree ("userId");


--
-- Name: idx_services_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_services_name ON public.services USING btree (name);


--
-- Name: idx_tickets_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_created_at ON public.queue_tickets USING btree ("createdAt");


--
-- Name: idx_tickets_service_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_service_id ON public.queue_tickets USING btree ("serviceId");


--
-- Name: idx_tickets_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_status ON public.queue_tickets USING btree (status);


--
-- Name: idx_tickets_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickets_user_id ON public.queue_tickets USING btree ("userId");


--
-- Name: idx_users_student_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_student_code ON public.users USING btree ("studentCode");


--
-- Name: services_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX services_name_key ON public.services USING btree (name);


--
-- Name: unique_service_stats; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX unique_service_stats ON public.queue_statistics USING btree ("serviceId");


--
-- Name: users_adminCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "users_adminCode_key" ON public.users USING btree ("adminCode");


--
-- Name: users_studentCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "users_studentCode_key" ON public.users USING btree ("studentCode");


--
-- Name: activities activities_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT "activities_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: activity_logs fk_activity_service; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT fk_activity_service FOREIGN KEY ("serviceId") REFERENCES public.services(id) ON DELETE SET NULL;


--
-- Name: activity_logs fk_activity_ticket; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT fk_activity_ticket FOREIGN KEY ("ticketId") REFERENCES public.queue_tickets(id) ON DELETE SET NULL;


--
-- Name: activity_logs fk_activity_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT fk_activity_user FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: queue_statistics fk_queue_stats_service; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.queue_statistics
    ADD CONSTRAINT fk_queue_stats_service FOREIGN KEY ("serviceId") REFERENCES public.services(id) ON DELETE CASCADE;


--
-- Name: queue_tickets queue_tickets_serviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.queue_tickets
    ADD CONSTRAINT "queue_tickets_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES public.services(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: queue_tickets queue_tickets_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.queue_tickets
    ADD CONSTRAINT "queue_tickets_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

